<template>
    <div>
        <div>
            Tets
        </div>
        <div id="app">
            {{title}}
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            title: "title"
        }
    }
};
</script>
<style lang="stylus">

</style>